/* Footer.css */

.footer-container {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px 0;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-content h3 {
  margin: 0;
}

.social-icons {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: var(--text-color);
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #007bff;
}
