/* Home.css */

.home-section {
    padding-top: 50px; /* Adjust top padding as needed */
  }
  
  .home-content {
    margin-bottom: 100px; /* Add some space between sections */
  }
  
  /* Style the "Hi There!" heading */
  .home-content h1:first-child {
    font-size: 36px;
    margin-bottom: 15px;
    color: var(--text-color);
  }
  
  /* Style the name heading */
  .home-content h1:nth-child(2) {
    font-size: 48px;
    margin-bottom: 15px;
    color: var(--text-color);
  }

  .type-writer{
    color: var(--text-color);
  }
  
  /* Style the "LET ME INTRODUCE MYSELF" heading */
  .home-about-description h1 {
    font-size: 36px;
    color: var(--text-color);; /* Adjust color to match your theme */
  }
  
  /* Style the body text */
  .home-about-description p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-color); /* Adjust color to match your theme */
  }
  
  /* Style the social media section */
  .home-about-social {
    margin-top: 30px;
    color: var(--text-color);
  }
  
  .home-about-social h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--text-color);
  }
  
  .home-about-social p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* Style the social media icons */
  .home-social-icons {
    display: inline-block;
    margin-right: 10px;
  }
  
  .home-social-icons a {
    font-size: 24px;
    color: var(--text-color); /* Adjust color to match your theme */
    transition: color 0.3s ease;
  }
  
  .home-social-icons a:hover {
    color: var(--text-color); /* Adjust hover color */
  }

  
  
  /* Adjustments for mobile responsiveness */
  @media (max-width: 768px) {
    .home-content {
      text-align: center;
    }
  
    .home-content img {
      max-height: 300px;
    }
  }
  