.modern-heading {
    color: var(--text-color);
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.modern-label {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 5px;
}

/* Error message styles */
.error-input {
    border: 1px solid #ff4d4d;
}

.error-text {
    color: #ff4d4d;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.manage-projects-container input,
.manage-projects-container textarea {
  background-color: transparent !important;
  color: var(--text-color) !important;
}

.manage-projects-container input::placeholder,
.manage-projects-container textarea::placeholder {
  color: var(--text-color) !important;
  opacity: 1;
}

input[type="date"] {
    color: var(--text-color); /* Change the text color */
    background-color: var(--background-color); /* Ensure background is transparent */
    border: 1px solid var(--text-color);
    position: relative;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
   color: var(--text-color); /* Inverts the color to var(--text-color) */
  }

  /* Custom styles for react-select */
div .custom-select__control {
  background-color: transparent;
  border-color: var(--text-color);
  box-shadow: none;
}

div .custom-select__control:hover {
  border-color: #ccc;
}

div .custom-select__menu {
  background-color: var(--background-color);
  color: var(--text-color);
}

div .custom-select__option {
  background-color: transparent;
  color: var(--text-color);
}

div .custom-select__option:hover {
  background-color: rgba(214, 209, 209, 0.388);
  color: var(--text-color);
}

div .custom-select__option--is-selected {
  background-color: var(--background-color);
}

div .custom-select__option--is-focused {
  background-color: var(--background-color);
}

div .custom-select__single-value {
  color: var(--text-color);
}

div .custom-select__multi-value {
  background-color: var(--background-color);
}

div .custom-select__multi-value__label {
  color: var(--text-color);
}

div .custom-select__multi-value__remove {
  color: var(--text-color);
}

div .custom-select__multi-value__remove:hover {
  background-color: red;
  color: var(--text-color);
}
