.manage-content-container{
    color: var(--text-color);
}

.manage-content-container input, .manage-content-container textarea {
    background-color: transparent !important;
    color: var(--text-color) !important;
  }
.manage-content-container input::placeholder,.manage-content-container textarea::placeholder {
    color: var(--text-color) !important;
    opacity: 1;
  }
